.container-super {
	background-color: lightgray;
}

.container-super input {
	width: 400px;
	padding: 25px;
}

.header-container {
	width: 100%;
	text-align: center;
	border: 1px solid;
	background:linear-gradient(135deg, #23aa8a 0%,#b8efc5 100%);
}
bottle

/* background:linear-gradient(135deg, #fab8ce 0%,#a9e8f3 100%); */