/* Pokeverse...made by GitHub User @1kvsn */

.container-super {
	background-color: white;
	position: relative;
}

/* Header Container Styles */
.header-container {
	width: 100%;
	text-align: center;
	background:linear-gradient(135deg, #23aa8a 0%,#b8efc5 100%);
	position: fixed;
	top: 0;
	z-index: 1;
}
.header-container h1 {
	margin: 0;
	padding: 20px;
	letter-spacing: 1.5px;
	font-style: bold;
	font-size: 32px;
}
/* Input Box Styles */
.header-container input {
	max-width: 500px;
	width: 75%;
	padding: 20px;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.849);
	margin: 10px;
}

/* Pokemon Card Container */
.poke-flex {
	display: flex;
	max-width: 1400px;
	width: 100%;
	margin: 180px auto;
	flex-wrap: wrap;
	justify-content: center;
}

/* Each Pokemon box styles */
.poke {
	width: 200px;
	height: 190px;
	padding: 5px;
	margin: 50px 25px;
	position: relative;
	border-top: 1px solid rgb(238, 236, 236);
	text-align: center;
	border-radius: 12px 12px 1px 1px;
	background-color: rgba(255, 255, 255, 0.863);
	box-shadow:0 70px 90px rgba(0, 0, 0, 0.1), 0 100px 100px rgba(0, 0, 0, 0.05);
  transition:  0.4s ;
}
.poke:hover {
	box-shadow:0 70px 90px rgba(0, 0, 0, 0.1), 0 100px 100px rgba(0, 0, 0, 0.05);
  transform: scale(1.2);
}


/* Pokemon Name Styles */
.poke p {
	position: absolute;
	bottom: 0%;
	left: 33%;
	text-transform: capitalize;
	letter-spacing: 1px;
}

/* Pokemon Image Styles */
.pic {
	width: 180px;
	height: 180px;
	background: white;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:linear-gradient(135deg, #fab8ce 0%,#a9e8f3 100%);
	box-shadow: 0 30px 80px rgba(0,0,0,0.2), 0 100px 100px rgba(0, 0, 0, 0.03);
	border-radius: 20px;
}

